%rebase('osnova.html', naslov='Dodaj zapisek', stran='dodaj-zapisek')
<main class="container">
  <h2>Dodaj zapisek</h2>
  % if napaka:
    <p class="opozorilo">{{napaka}}</p>
  % end
  <form method="POST" action="/dodaj-zapisek" class="filter-form">
    <label>Naslov:</label>
    <input type="text" name="naslov" required>

    <label>Število strani:</label>
    <input type="number" name="stevilo_strani" min="1" required>

    <label>Vrsta dokumenta:</label>
    <input type="text" name="vrsta_dokumenta" required>

    <label>Jezik:</label>
    <input type="text" name="jezik" required>

    <label>Download link (URL):</label>
    <input type="url" name="download_link" required>

    <label>Ime predmeta:</label>
    <input list="predmeti" name="predmet" required>
    <datalist id="predmeti">
      % for ime in predmeti:
        <option value="{{ime}}">
      % end
    </datalist>

    <label>Izobraževalni program:</label>
    <input list="programi" name="program" required>
    <datalist id="programi">
      % for ime in programi:
        <option value="{{ime}}">
      % end
    </datalist>

    <label>Letnik:</label>
    <input type="number" name="letnik" min="1" max="6" required>

    <label>Fakulteta:</label>
    <input list="fakultete" name="faks" required>
    <datalist id="fakultete">
      % for ime in fakultete:
        <option value="{{ime}}">
      % end
    </datalist>

    <label>Ime profesorja:</label>
    <input list="imena_prof" name="ime_profesorja" required>
    <datalist id="imena_prof">
      % for ime in imena_profesorjev:
        <option value="{{ime}}">
      % end
    </datalist>

    <label>Priimek profesorja:</label>
    <input list="priimki_prof" name="priimek_profesorja" required>
    <datalist id="priimki_prof">
      % for priimek in priimki_profesorjev:
        <option value="{{priimek}}">
      % end
    </datalist>

    <button type="submit" class="btn btn-primary">Dodaj zapisek</button>
  </form>
</main>
