%rebase('osnova.html', naslov='Preneseni zapiski', stran='prenosi')

<nav style="margin-bottom: 20px;">
    <ul style="display: flex; list-style: none; padding: 0; gap: 15px; flex-wrap: wrap;">
      <li><a href="{{url('/moji-zapiski')}}" class="btn btn-primary">Moji zapiski</a></li>
      <li><a href="{{url('/moji-prenosi')}}" class="btn btn-primary">Preneseni zapiski</a></li>
      <li><a href="/isci-zapiske" class="btn btn-primary">Iskanje zapiskov</a></li>
      <li><a href="/dodaj-zapisek" class="btn btn-primary">Dodaj zapisek</a></li>
      <li><a href="/odjava" class="btn btn-primary">Odjava</a></li>
    </ul>
  </nav>

<div class="container">
  <h2>Tvoji preneseni zapiski</h2>

  %if prenosi:
    <table class="table">
      <thead>
        <tr>
          <th>Naslov</th>
          <th>Datum objave</th>
          <th>Vrsta dokumenta</th>
          <th>Predmet</th>
          <th>Fakulteta</th>
          <th>Avtor</th>
        </tr>
      </thead>
      <tbody>
        %for z in prenosi:
          <tr>
            <td><a href="/zapisek/{{z['id_zapiska']}}">{{z['naslov']}}</a></td>
            <td>{{z['datum_objave']}}</td>
            <td>{{z['vrsta_dokumenta']}}</td>
            <td>{{z['ime_predmeta']}}</td>
            <td>{{z['ime_fakultete']}}</td>
            <td>{{z['ime_uporabnika']}}</td>
          </tr>
        %end
      </tbody>
    </table>
  %else:
    <p>Ni še prenesenih zapiskov.</p>
  %end
</div>
