%rebase('osnova.html', naslov='Preneseni zapiski', stran='prenosi')

<div class="container">
  <h2>Tvoji preneseni zapiski</h2>

  %if prenosi:
    <table class="table">
      <thead>
        <tr>
          <th>Naslov</th>
          <th>Datum objave</th>
          <th>Vrsta dokumenta</th>
          <th>Predmet</th>
          <th>Fakulteta</th>
          <th>Avtor</th>
        </tr>
      </thead>
      <tbody>
        %for z in prenosi:
          <tr>
            <td>{{z['naslov']}}</td>
            <td>{{z['datum_objave']}}</td>
            <td>{{z['vrsta_dokumenta']}}</td>
            <td>{{z['ime_predmeta']}}</td>
            <td>{{z['ime_fakultete']}}</td>
            <td>{{z['avtor']}}</td>
          </tr>
        %end
      </tbody>
    </table>
  %else:
    <p>Ni še prenesenih zapiskov.</p>
  %end
</div>
